<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>

  <body>
	<div th:replace="common/header :: navbar"/>
	

	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<h2 class="section-headline"><span>User Account</span></h2>
			</div>
			<div class="col-xs-4">
				<img src="https://images.unsplash.com/photo-1508921340878-ba53e1f016ec?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3024338c801ac09e660b66e1cd5adb40&auto=format&fit=crop&w=1350&q=80" class="img-responsive">
			</div>
		</div>
		<hr/>
		
		<div class="row" >
			<div class="col-xs-9 col-xs-offset-3">
				
				<ul class="nav nav-tabs">
					<li><a href="#tab-1" data-toggle="tab"><span style="color:skyblue">Create New Account</span></a></li>
					<li><a href="#tab-2" data-toggle="tab"><span style="color:skyblue">Log In</span></a></li>
					<li><a href="#tab-3" data-toggle="tab"><span style="color:skyblue">Forget Password</span></a></li>
				</ul>
				
				<!-- Tab panels -->
				<div class="tab-content">
				
					<div class="tab-pane fade" id="tab-1">
						<div class="panel-group">
							<div class="panel panel-default" style="border:none;">
								<div class="panel-body" style="background-color:  #EC9787; margin-top: 20px" >
									<form>
										<div class="form-group">
											<label for="newUsename">Username</label>
											<input required="required" type="text" class="form-control" id="newUsername" name="username"/>
											<p style="color#828282">Enter your username</p>
										</div>
										
										<div class="form-group">
											<label for="email">Email</label>
											<input required="required" type="text" class="form-control" id="email" name="email"/>
											<p style="color#828282">Enter your Email</p>
										</div>
										
										<button type="submit" class="btn btn-primary">Create New Button</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Log In -->
					<div class="tab-pane fade" id="tab-2">
						<div class="panel-group">
							<div class="panel panel-default" style="border:none;">
								<div class="panel-body" style="background-color: #00A591; margin-top: 20px" >
									<form>
										<div class="form-group">
											<label for="newUsename">Username</label>
											<input required="required" type="text" class="form-control" id="newUsername" name="username"/>
											<p style="color#828282">Enter your username</p>
										</div>
										
										<div class="form-group">
											<label for="password">Password</label>
											<input required="required" type="password" class="form-control" id="password" name="password"/>
											<p style="color#828282">Enter your password</p>
										</div>
										
										<button type="submit" class="btn btn-primary">Log In</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Forget Password -->
					<div class="tab-pane fade" id="tab-3">
						<div class="panel-group">
							<div class="panel panel-default" style="border:none;">
								<div class="panel-body" style="background-color: #00A591; margin-top: 20px" >
									<form>
										
										<div class="form-group">
											<label for="recoverEmail">Email</label>
											<input required="required" type="password" class="form-control" id="recoverEmail" name="email"/>
											<p style="color#828282">Enter your Email</p>
										</div>
										
										<button type="submit" class="btn btn-primary">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				
				
				</div>
			</div>
		</div>
	</div> <!-- end of container -->

	<div th:replace="common/header :: body-bottom-scripts"></div>
  </body>
</html>
